# Data
data/raw/
data/processed/
*.csv

# Models
*.pkl
*.h5
*.joblib
/models/

# Environments
venv/
env/
.env

# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# Logs and OS files
logs/
*.log
.DS_Store

# Temporary files
scratch/
structure.txt